body {
	background-color: #fff;
	/*background-color: #666; /* temp override for easier screen reading */
	padding-top: 10px;
}

.lumo-header {
	color:grey;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 22px;
	font-weight: lighter;
}

.container {
	max-width:725px;
	min-width:500px;
}

.col-xs-4 {
    padding-left: 6px;
	padding-right: 6px;
}

.category-header {
	text-align: center;
	text-transform: uppercase;
	margin: 0px;
	margin-top: 12px;
	margin-bottom: 12px;
}


.well {
    background: inherit;
	/* background-color: #666; /* temp override for easier screen reading */
	border-style: solid;
	border-width: 2px;
	border-color: black;
	margin-bottom: 12px;
	padding: 0;
	padding-left: 12px;
	padding-right: 12px;
	

	min-height: 189px;
}

div.well ul  {
	list-style-type: none;
	padding-left: 2px;
	padding-right: 2px;
	
}

div.well li {
	margin: 5px;
}

a {
    color: black;
}


a:hover {
 	color: black;
 	font-weight: bold;
 	text-decoration: none;
}


.center-link {
    text-align: center;
}

.center-link li:hover {
    color: white;
    text-decoration: underline;
    font-weight: inherit;
}

.center-link a:hover {
    color: white;
    text-decoration: underline;
    font-weight: inherit;
}

.new-card {
    text-align: center;
    line-heigth: 2;
    margin: auto;
    /*margin-top: 40px;*/
    border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 6px;
	padding: 25px;
}

div.new-card-super-border input {
    border: 2px #7BA8BE solid;
    border-radius: 4px;
    padding-left: 10px;
    padding: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 80%;

}

.new-card input, table {
    width: 100%;
    margin: 3px;
    border-collapse: inherit;
    border-radius: 2px;
    border: 1px solid;
}


table, tbody, form {
    border: none;
}

td {
    border-bottom: 1px;
}

nav li {
    background-color: black;
    border-style: none;
    text-align: center;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}

nav a {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}



input[type=submit] {
    background-color: black;
    color: white;
    border-style: none;
    text-align: center
}
table {
    margin: auto;
}


#header_link:hover {
    font-weight: 200;
}


