body {
	background-color:#204060;
	padding-top: 10px;
}

.category-header {
	text-align: center;
	text-transform: uppercase;
}

.container {
	max-width:700px;
}

.top-header {
	color:grey;
	text-align: center;
	margin-bottom: 50px;
	font-weight: lighter;
}

.well {
	background-color: #777;
	border: none;
	min-height: 189px;
}

div.well ul  {
	list-style-type: none;
	padding: 10px;
}

a {
    color: black;
}

a:hover {
 	color: black;
 	text-decoration: underline;
 	text-decoration-color: red;
}

