body {
	background-color: #fff;
	/*background-color: #666; /* temp override for easier screen reading */
	padding-top: 10px;
}

.lumo-header {
	color:grey;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 22px;
	font-weight: lighter;
	text-transform: uppercase;
}


.blocks-jars-view-sm-title {
	text-align: center;
	text-transform: uppercase;
	margin: 0px;
	margin-top: 12px;
	margin-bottom: 12px;
}


.card-view-lg-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 30px;
}


.container {
	max-width:725px;
	min-width:500px;
}

.col-xs-4 {
    padding-left: 6px;
	padding-right: 6px;
}

.well {
    background: inherit;
	/* background-color: #666; /* temp override for easier screen reading */
	border-style: solid;
	border-width: 2px;
	border-color: black;
	margin-bottom: 12px;
	padding: 0;
	padding-left: 12px;
	padding-right: 12px;
	

	min-height: 189px;
}

div.well ul  {
	list-style-type: none;
	padding-left: 2px;
	padding-right: 2px;
	
}

div.well li {
	margin: 5px;
}

a {
    color: black;
}

table, tbody, form {
    border: none;
}


td {
    border-bottom: 1px;
}


nav li {
    background-color: black;
    border-style: none;
    text-align: center;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}


nav a {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}


input[type=submit] {
    background-color: black;
    color: white;
    border-style: none;
    text-align: center
}


table {
    margin: auto;
}


a:hover {
 	color: black;
 	font-weight: bold;
 	text-decoration: none;
}


.center-link {
    text-align: center;
}

.center-link li:hover {
    color: white;
    text-decoration: underline;
    font-weight: inherit;
}

.center-link a:hover {
    color: white;
    text-decoration: underline;
    font-weight: inherit;
}


.card-view {
    line-height: 2;
    padding-bottom: 35px;
    border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 6px;
}


.new-card {
    text-align: center;
    line-height: 2;
    margin: auto;
    border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 6px;
	padding: 25px;
}

div.solo-card-view-container input {
    border: 2px #7BA8BE solid;
    border-radius: 4px;
    padding-left: 10px;
    padding: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 80%;
}


.submitter input {
    border: 2px #7BA8BE solid;
    border-radius: 4px;
    padding-left: 10px;
    padding: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 80%;

}


.new-card input, table {
    width: 100%;
    margin: 3px;
    border-collapse: inherit;
    border-radius: 2px;
    border: 1px solid;
}


.singl_card_step_no {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;

}


.mega {
    /*float: right;*/
}


#header_link:hover {
    font-weight: 200;
}




