body {
	background-color: #fff;
	padding-top: 10px;
}

.top-header {
	color:grey;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 22px;
	font-weight: lighter;
}

.container {
	max-width:725px;
}

.col-xs-4 {
    padding-left: 6px;
	padding-right: 6px;
}

.category-header {
	text-align: center;
	text-transform: uppercase;
	margin: 0px;
	margin-top: 12px;
	margin-bottom: 12px;
}


.well {
	background-color: #fff;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	margin-bottom: 12px;
	padding: 0;
	padding-left: 12px;
	padding-right: 12px;
	

	min-height: 189px;
}

div.well ul  {
	list-style-type: none;
	padding-left: 2px;
	padding-right: 2px;
	
}

div.well li {
	margin: 5px;
}

a {
    color: black;
}

a:hover {
 	color: black;
 	font-weight: bold;
 	text-decoration: none;
}

#header_link:hover {
    font-weight: 200;
}

#bloom {

    color: #333;
    position: relative;
    top: 50%;
    text-align: center;
    padding: 0;
}

