{% extends "base.html" %}
{% block content %}


<h3 class="lumo-header">
    <a href="{{ url_for('blocks_view') }}">
        lumogarden: all cards <b>{{ total_cards }}</b>
    </a>
</h3>


<div class="col-xs-12 card-view">

    <div class="all-cards">
        {% for card in all_cards %}
        <div class="col-xs-3">
            <div class="well icon-view">


                <a href="{{ url_for('jars_view',
                             jar_from_url=card.card_in_jar) }}">
                    {{ card.card_in_jar }} <br>
                </a>


                <div class="baby-card-name">
                    <a href="{{ url_for('edit_card_view',
                                searched_card=card.card_name) }}">
                        {{ card.card_name }}
                    </a>
                </div>

                <br>
                <br>
                <br>
                <a class="all-cards-delete"
                   href="{{ url_for('delete_card',
                            card=card.card_name) }}" ,
                   method="post"> x </a>

            </div>
        </div>
        {% endfor %}
    </div>


</div> <!-- col-xs-12 -->


{% endblock %}

a href="{{ url_for('card_view',
card_from_url=jar_positions['tl'].card_name) }}">
{{ jar_positions['tl'].card_name }}
</a>
