{% extends "base.html" %}
{% block content %}


    <h3 class="top-header">LUMOGARDEN: BLOCKS</h3>

    <form method="POST">
        {{ form.hidden_tag() }}

	<div class="row">

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    <a href="{{ url_for('jars',
                                jar_from_url=block_positions['tl'].block_name)
                             }}">
                        {{ block_positions['tl'].block_name }}
                    </a>
                </h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    <a href="{{ url_for('jars',
                                jar_from_url=block_positions['tm'].block_name)
                             }}">
                        {{ block_positions['tm'].block_name }}
                    </a>
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    <a href="{{ url_for('jars',
                                jar_from_url=block_positions['tr'].block_name)
                             }}">
                        {{ block_positions['tr'].block_name }}
                    </a>
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

	</div> <!-- row #1 -->



<!-- ################ -->


<div class="row">

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    <a href="{{ url_for('jars',
                                jar_from_url=block_positions['ml'].block_name)
                             }}">
                        {{ block_positions['ml'].block_name }}
                    </a>
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->



		<div class="col-xs-4">
			<div class="well">
                <h4 class="category-header">
				</h4>
				<div id="bloom">
                    {{ form.submit }}<br>
                    <a href="{{ url_for('new_card') }}">New Card</a>
				</div>

			</div> <!-- well -->
		</div> <!-- col -->



		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    <a href="{{ url_for('jars',
                                jar_from_url=block_positions['mr'].block_name)
                             }}">
                        {{ block_positions['mr'].block_name }}
                    </a>
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

	</div> <!-- row #2 -->



<!-- ################ -->


<div class="row">

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    <a href="{{ url_for('jars',
                                jar_from_url=block_positions['bl'].block_name)
                             }}">
                        {{ block_positions['bl'].block_name }}
                    </a>
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    <a href="{{ url_for('jars',
                                jar_from_url=block_positions['bm'].block_name)
                             }}">
                        {{ block_positions['bm'].block_name }}
                    </a>
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    <a href="{{ url_for('jars',
                                jar_from_url=block_positions['br'].block_name)
                             }}">
                        {{ block_positions['br'].block_name }}
                    </a>
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

	</div> <!-- row #3 -->
    </form>


{% endblock %}
