{% extends "base.html" %}
{% block content %}

	<h3 class="top-header">LUMOGRIDS</h3>

	<div class="row">

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    <a href="#">{{ tl.block_name }}</a>
                </h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    <a href="#">{{ tm.block_name }}</a>
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    <a href="#">{{ tr.block_name }}</a>
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

	</div> <!-- row #1 -->



<!-- ################ -->


<div class="row">

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    <a href="#">{{ ml.block_name }}</a>
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<div id="bloom">
                    <a>bloom</a>
				</div>
                <h4 class="category-header">
				</h4>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    <a href="#">{{ mr.block_name }}</a>
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

	</div> <!-- row #2 -->



<!-- ################ -->


<div class="row">

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    <a href="#">{{ bl.block_name }}</a>
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    <a href="#">{{ bm.block_name }}</a>
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    <a href="#">{{ br.block_name }}</a>
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

	</div> <!-- row #3 -->



<!-- ################ -->


	<!-- <div class="row">
		<div class="well">
			<p>{{ active_jars }}</p>
		</div>
	</div> -->




{% endblock %}
