{% extends "base.html" %}
{% block content %}


<h3 class="lumo-header">lumogarden: blocks</h3>

    <form method="POST">
        {{ form.hidden_tag() }}


	<div class="row">

		<div class="col-xs-4">
			<div class="well">
                <h4 class="blocks-jars-view-sm-title">
                    <a href="{{ url_for('jars_view',
                                jar_from_url=block_positions['tl'].block_name)
                             }}">
                        {{ block_positions['tl'].block_name }}
                    </a>
                </h4>
				<div>
					<ul>
						{% for chk in form.tl_chks %}
                        <div class="row row-blocks">
                            <div class="col-xs-10">
                                <label class="align-to-chk">
                                    <span class="pinned-block">{{ chk.data }}</span>
                                    {{ chk.label}}
                                </label>
                            </div>

                            <div class="col-xs-1 margin-less-6">
                                <li>{{ chk }}<li/>
                            </div>
                        </div>
                        {% endfor %}
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
                <h4 class="blocks-jars-view-sm-title">
                    <a href="{{ url_for('jars_view',
                                jar_from_url=block_positions['tm'].block_name)
                             }}">
                        {{ block_positions['tm'].block_name }}
                    </a>
				</h4>
				<div>
					<ul>
                        {% for chk in form.tm_chks -%}
                        <div class="row row-blocks">
                            <div class="col-xs-10">
                                <label class="align-to-chk">
                                    <span class="pinned-block">{{ chk.data }}</span>
                                    {{ chk.label}}
                                </label>
                            </div>

                            <div class="col-xs-1 margin-less-6">
                                <li>{{ chk }}<li/>
                            </div>
                        </div>
                        {%- endfor %}
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
                <h4 class="blocks-jars-view-sm-title">
                    <a href="{{ url_for('jars_view',
                                jar_from_url=block_positions['tr'].block_name)
                             }}">
                        {{ block_positions['tr'].block_name }}
                    </a>
				</h4>
				<div>
					<ul>
                        {% for chk in form.tr_chks %}
                        <div class="row row-blocks">
                            <div class="col-xs-10">
                                <label class="align-to-chk">
                                    <span class="pinned-block">{{ chk.data }}</span>
                                    {{ chk.label}}
                                </label>
                            </div>

                            <div class="col-xs-1 margin-less-6">
                                <li>{{ chk }}<li/>
                            </div>
                        </div>
                        {% endfor %}
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

	</div> <!-- row #1 -->



<!-- ################ -->


<div class="row">

		<div class="col-xs-4">
			<div class="well">
                <h4 class="blocks-jars-view-sm-title">
                    <a href="{{ url_for('jars_view',
                                jar_from_url=block_positions['ml'].block_name)
                             }}">
                        {{ block_positions['ml'].block_name }}
                    </a>
				</h4>
				<div>
					<!--for some card in the pinned block cards-->
                        <!--print the card name, the step, and the checkbox-->
                    <!--endfor-->
                    <!--if checked, refresh using same mechanism that jars uses -->

					<ul>
                        {% for chk in form.ml_chks %}
                        <div class="row row-blocks">
                            <div class="col-xs-10">
                                <label class="align-to-chk">
                                    <span class="pinned-block">{{ chk.data }}</span>
                                    {{ chk.label}}
                                </label>
                            </div>

                            <div class="col-xs-1 margin-less-6">
                                <li>{{ chk }}<li/>
                            </div>
                        </div>
                        {% endfor %}
					</ul>
				</div>

			</div> <!-- well -->
		</div> <!-- col -->



		<div class="col-xs-4">
			<div class="well">
                <h4 class="blocks-jars-view-sm-title">
				</h4>
                <nav class="center-link">
                    <ul>

                        <li>
                            {{ form.submit }}
                        </li>

						<li>
                            <a href="{{ url_for('pin_to_blocks') }}">
								Pin Cards</a>
                        </li>

                        <li>
                            <a href="{{ url_for('new_card_view') }}">
								New Card</a>
                        </li>


                        <li>
                            <a href="{{ url_for('all_cards_view') }}">
                                All Cards
                            </a>
                        </li>

                    </ul>
                </nav>

			</div> <!-- well -->
		</div> <!-- col -->



		<div class="col-xs-4">
			<div class="well">
                <h4 class="blocks-jars-view-sm-title">
                    <a href="{{ url_for('jars_view',
                                jar_from_url=block_positions['mr'].block_name)
                             }}">
                        {{ block_positions['mr'].block_name }}
                    </a>
				</h4>
				<div>
					<ul>
                        {% for chk in form.mr_chks %}
                        <div class="row row-blocks">
                            <div class="col-xs-10">
                                <label class="align-to-chk">
                                    <span class="pinned-block">{{ chk.data }}</span>
                                    {{ chk.label}}
                                </label>
                            </div>

                            <div class="col-xs-1 margin-less-6">
                                <li>{{ chk }}<li/>
                            </div>
                        </div>
                        {% endfor %}
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

	</div> <!-- row #2 -->



<!-- ################ -->


<div class="row">

		<div class="col-xs-4">
			<div class="well">
                <h4 class="blocks-jars-view-sm-title">
                    <a href="{{ url_for('jars_view',
                                jar_from_url=block_positions['bl'].block_name)
                             }}">
                        {{ block_positions['bl'].block_name }}
                    </a>
				</h4>
				<div>
					<ul>
                        {% for chk in form.bl_chks %}
                        <div class="row row-blocks">
                            <div class="col-xs-10">
                                <label class="align-to-chk">
                                    <span class="pinned-block">{{ chk.data }}</span>
                                    {{ chk.label}}
                                </label>
                            </div>

                            <div class="col-xs-1 margin-less-6">
                                <li>{{ chk }}<li/>
                            </div>
                        </div>
                        {% endfor %}
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
                <h4 class="blocks-jars-view-sm-title">
                    <a href="{{ url_for('jars_view',
                                jar_from_url=block_positions['bm'].block_name)
                             }}">
                        {{ block_positions['bm'].block_name }}
                    </a>
				</h4>
				<div>
					<ul>
                        {% for chk in form.bm_chks %}
                        <div class="row row-blocks">
                            <div class="col-xs-10">
                                <label class="align-to-chk">
                                    <span class="pinned-block">{{ chk.data }}</span>
                                    {{ chk.label}}
                                </label>
                            </div>

                            <div class="col-xs-1 margin-less-6">
                                <li>{{ chk }}<li/>
                            </div>
                        </div>
                        {% endfor %}
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
                <h4 class="blocks-jars-view-sm-title">
                    <a href="{{ url_for('jars_view',
                                jar_from_url=block_positions['br'].block_name)
                             }}">
                        {{ block_positions['br'].block_name }}
                    </a>
				</h4>
				<div>
					<ul>
                        {% for chk in form.br_chks %}
                        <div class="row row-blocks">
                            <div class="col-xs-10">
                                <label class="align-to-chk">
                                    <span class="pinned-block">{{ chk.data }}</span>
                                    {{ chk.label}}
                                </label>
                            </div>

                            <div class="col-xs-1 margin-less-6">
                                <li>{{ chk }}<li/>
                            </div>
                        </div>
                        {% endfor %}
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

	</div> <!-- row #3 -->
    </form>


{% endblock %}
