{% extends "base.html" %}
{% block content %}

<h3 class="lumo-header">
    <a id="header_link"
       href="{{ url_for('jars_view', jar_from_url=card_in_jar) }}">
        lumogarden: {{card_name}}
    </a>
</h3>


<div class="col-xs-12 card-view">
    <form method="POST">
        {{ existing_steps_form.hidden_tag() }}

        <h4 class="card-view-lg-title">
            {{ card_name }}
        </h4>

        {% for chk in existing_steps_form.chks %}

        <div class="col-xs-11">
            <span class="singl_card_step_no">step no:</span>
            {{ chk.label }}<br>
        </div>

        <div class="col-xs-1">
            {{ chk }}
        </div>

        <script>
                var octo = "#";
                var idChk = "{{chk.id}}";
                var fullChkId = octo.concat(idChk);
                var mongo_intBool = {{ bools[loop.index-1] }}

                if (mongo_intBool == 1) {
                    console.log(mongo_intBool)
                    $(fullChkId).prop("checked", true);
                }


        </script>

        {% endfor %}


        <div class="full-width-link">
            {{ existing_steps_form.submit }}
        </div>

        <div class="full-width-link">

            <a class="full-width-link" href="{{ url_for('edit_card_view', searched_card=card_name) }}">
                add steps
            </a>

        </div>
    </form>

</div>

{% endblock %}
