{% extends "base.html" %}
{% block content %}

	<h3 class="top-header">LUMOGRIDS</h3>


	<div class="row">
		
		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
					<a href="#">{{ active_blocks['top_left'] }}</a>
				</h4>
				<!-- <h3> {{ hey }} </h3> -->
				<div>
					<ul>
					{% for card in tl %}
						<li>{{ card }}</li>
					{% endfor %}
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
					<a href="#">{{ active_blocks['top_mid'] }}</a>
				</h4>
				<!-- <h3> {{ hey }} </h3> -->
				<div>
					<ul>
					{% for card in tm %}
						<li>{{ card }}</li>
					{% endfor %}
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
					<a href="#">{{ active_blocks['top_right'] }}</a>
				</h4>
				<!-- <h3> {{ hey }} </h3> -->
				<div>
					<ul>
					{% for card in tr %}
						<li>{{ card }}</li>
					{% endfor %}
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

	</div> <!-- row #1 lght,care and arte -->

<!-- ################ -->

	<div class="row">
		
		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
					<a href="#">{{ active_blocks['mid_left'] }}</a>
				</h4>
				<!-- <h3> {{ hey }} </h3> -->
				<div>
					<ul>
					{% for card in ml %}
						<li>{{ card }}</li>
					{% endfor %}
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
					<a href="#">center</a>
				</h4>
				<!-- <h3> {{ hey }} </h3> -->
				<div>
					<ul>
						<li>center node</li>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
					<a href="#">{{ active_blocks['mid_right'] }}</a>
				</h4>
				<!-- <h3> {{ hey }} </h3> -->
				<div>
					<ul>
					{% for card in mr %}
						<li>{{ card }}</li>
					{% endfor %}
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

	</div> <!-- row #2 soft, CENTRE and music -->

<!-- ################ -->

	<div class="row">
		
		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
					<a href="#">{{ active_blocks['botm_left'] }}</a>
				</h4>
				<!-- <h3> {{ hey }} </h3> -->
				<div>
					<ul>
					{% for card in bl %}
						<li>{{ card }}</li>
					{% endfor %}
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
					<a href="#">{{ active_blocks['botm_mid'] }}</a>
				</h4>
				<!-- <h3> {{ hey }} </h3> -->
				<div>
					<ul>
					{% for card in bm %}
						<li>{{ card }}</li>
					{% endfor %}
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
					<a href="#">{{ active_blocks['botm_right'] }}</a>
				</h4>
				<!-- <h3> {{ hey }} </h3> -->
				<div>
					<ul>
					{% for card in br %}
						<li>{{ card }}</li>
					{% endfor %}
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

	</div> <!-- row #3 utfh, erth and wrte -->

<!-- 	<div class="row">
		<div class="well">
		</div>
	</div>
 -->
{% endblock %}

