{% extends "base.html" %}
{% block content %}

	<h3 class="top-header">LUMOGRIDS</h3>

	<div class="row">
	{% for pool in pools[:3] %}
		
		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">{{ pool.pool_name }}</h4>
				<div>
					<ul>
						{% for pool_item in pool.pool_items[:3] %}
						<li> {{ pool_item.task }} </li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

	{% endfor %}	
	</div>

	<div class="row">
	{% for pool in pools[3:6] %}
		
		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">{{ pool.pool_name }}</h4>
				<div>
					<ul>
						{% for pool_item in pool.pool_items[:3] %}
						<li> {{ pool_item.task }} </li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

	{% endfor %}	
	</div>

	<div class="row">
	{% for pool in pools[6:] %}
		
		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">{{ pool.pool_name }}</h4>
				<div>
					<ul>
						{% for pool_item in pool.pool_items[:3] %}
						<li> {{ pool_item.task }} </li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

	{% endfor %}	
	</div>

{% endblock %}

