{% extends "base.html" %}
{% block content %}

	<h3 class="top-header">LUMOGARDEN</h3>

	<div class="row">
		
		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    {{ positions_dict['tl'].card_name }}
				</h4>
				<div>
					<ul>
                        {% for step in next_actionable_steps['tl'] %}
                        <li>{{ step[:15] + '...'}}</li>
                        {% endfor %}
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    {{ positions_dict['tm'].card_name }}
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    {{ positions_dict['tr'].card_name }}
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

	</div> <!-- row #1 -->



<!-- ################ -->


<div class="row">
		
		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
					{{ positions_dict['ml'].card_name }}
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
				</h4>
				<div>
                    <p style="text-align:center">button</p>
                    <!--<button class="btn btn-info">bloom</button>-->
				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    {{ positions_dict['mr'].card_name }}
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

	</div> <!-- row #2 -->



<!-- ################ -->


<div class="row">
		
		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    {{ positions_dict['bl'].card_name }}
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    {{ positions_dict['bm'].card_name }}
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

		<div class="col-xs-4">
			<div class="well">
				<h4 class="category-header">
                    {{ positions_dict['br'].card_name }}
				</h4>
				<div>
					<ul>
					</ul>

				</div>

			</div> <!-- well -->
		</div> <!-- col -->

	</div> <!-- row #3 -->



<!-- ################ -->


	<!-- <div class="row">
		<div class="well">
		</div>
	</div> -->




{% endblock %}
