{% extends "base.html" %}
{% block content %}


<h3 class="lumo-header">
    <a id="header_link" href="{{ url_for('blocks_view') }}">lumogarden:
        {{jar_name}}</a>
    </h3>


    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="row">

        <div class="col-xs-4">
            <div class="well">
                <h4 class="blocks-jars-view-sm-title">
                    <a href="{{ url_for('card_view',
                                card_from_url=jar_positions['tl'].card_name) }}">
                        {{ jar_positions['tl'].card_name }}
                    </a>
                </h4>

                <div>
                    <ul>
                        {% for chk in form.tl_form %}
                        <li>{{ chk.label }} {{ chk }}</li>
                        {% endfor %}
                    </ul>

                </div>

            </div> <!-- well -->
        </div> <!-- col -->

        <div class="col-xs-4">
            <div class="well">
                <h4 class="blocks-jars-view-sm-title">
                    <a href="{{ url_for('card_view',
                            card_from_url=jar_positions['tm'].card_name) }}">
                        {{ jar_positions['tm'].card_name }}
                    </a>
                </h4>
                <div>
                    <ul>
                        {% for chk in form.tm_form %}
                        <li>{{ chk.label }} {{ chk }}</li>
                        {% endfor %}
                    </ul>

                </div>

            </div> <!-- well -->
        </div> <!-- col -->

        <div class="col-xs-4">
            <div class="well">
                <h4 class="blocks-jars-view-sm-title">
                    <a href="{{ url_for('card_view',
                            card_from_url=jar_positions['tr'].card_name) }}">
                        {{ jar_positions['tr'].card_name }}
                    </a>
                </h4>
                <div>
                    <ul>
                        {% for chk in form.tr_form %}
                        <li>{{ chk.label }} {{ chk }}</li>
                        {% endfor %}
                    </ul>
                </div>

            </div> <!-- well -->
        </div> <!-- col -->

    </div> <!-- row #1 -->



<!-- ################ -->


<div class="row">

        <div class="col-xs-4">
            <div class="well">
                <h4 class="blocks-jars-view-sm-title">
                    <a href="{{ url_for('card_view',
                            card_from_url=jar_positions['ml'].card_name) }}">
                        {{ jar_positions['ml'].card_name }}
                    </a>
                </h4>
                <div>
                    <ul>
                        {% for chk in form.ml_form %}
                        <li>{{ chk.label }} {{ chk}}
                        </li>
                        {% endfor %}
                    </ul>

                </div>

            </div> <!-- well -->
        </div> <!-- col -->

        <div class="col-xs-4">
            <div class="well">
                <h4 class="blocks-jars-view-sm-title"></h4>
                <nav class="center-link">
                    <ul>
                        <li>{{ form.submit }}</li>
                        <li><a href="#">edit active cards</a></li>
                    </ul>
                </nav>

            </div> <!-- well -->
        </div> <!-- col -->

        <div class="col-xs-4">
            <div class="well">
                <h4 class="blocks-jars-view-sm-title">
                    <a href="{{ url_for('card_view',
                            card_from_url=jar_positions['mr'].card_name) }}">
                        {{ jar_positions['mr'].card_name }}
                    </a>
                </h4>
                <div>
                    <ul>
                        {% for chk in form.mr_form %}
                        <li>{{ chk.label }} {{ chk }}</li>
                        {% endfor %}
                    </ul>

                </div>

            </div> <!-- well -->
        </div> <!-- col -->

    </div> <!-- row #2 -->



<!-- ################ -->


<div class="row">

        <div class="col-xs-4">
            <div class="well">
                <h4 class="blocks-jars-view-sm-title">
                    <a href="{{ url_for('card_view',
                            card_from_url=jar_positions['bl'].card_name) }}">
                        {{ jar_positions['bl'].card_name }}
                    </a>
                </h4>
                <div>
                    <ul>
                        {% for chk in form.bl_form %}
                        <li>{{ chk.label }} {{ chk }}</li>
                        {% endfor %}
                    </ul>

                </div>

            </div> <!-- well -->
        </div> <!-- col -->

        <div class="col-xs-4">
            <div class="well">
                <h4 class="blocks-jars-view-sm-title">
                    <a href="{{ url_for('card_view',
                            card_from_url=jar_positions['bm'].card_name) }}">
                        {{ jar_positions['bm'].card_name }}
                    </a>
                </h4>
                <div>
                    <ul>
                        {% for chk in form.bm_form %}
                        <li>{{ chk.label }} {{ chk }}</li>
                        {% endfor %}
                    </ul>

                </div>

            </div> <!-- well -->
        </div> <!-- col -->

        <div class="col-xs-4">
            <div class="well">
                <h4 class="blocks-jars-view-sm-title">
                    <a href="{{ url_for('card_view',
                            card_from_url=jar_positions['br'].card_name) }}">
                        {{ jar_positions['br'].card_name }}
                    </a>
                </h4>
                <div>
                    <ul>
                        {% for chk in form.br_form %}
                        <li>{{ chk.label }} {{ chk }}</li>
                        {% endfor %}
                    </ul>

                </div>

            </div> <!-- well -->
        </div> <!-- col -->

    </div> <!-- row #3 -->
    </form>


{% endblock %}
