{% extends "base.html" %}
{% block content %}

<h3 class="lumo-header">lumogarden: new card</h3>

<div class="col-xs-12 card-view">
    <div class="new-card-steps">


    <form method="POST">
        {{ new_card_form.hidden_tag() }}
        <div class="new-card-name">

            {{ new_card_form.new_card_name(placeholder="New card: ") }}

            {% for error in new_card_form.new_card_name.errors %}[
            {{ error }}]
            {% endfor %}

            {{ new_card_form.new_card_jar(placeholder="What category: ") }}
            {% for error in new_card_form.new_card_jar.errors %}[{{ error }}]{% endfor %}

        </div>

        <br>
        <br>

        {{ new_card_form.new_card_steps }}

        <div class="full-width-link">
            {{ new_card_form.submit }}
        </div>

    </form>

    </div>

</div>

{% endblock %}

