{% extends "base.html" %}
{% block content %}

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="col-xs-12">

            {{ form.new_card_name(size=80, placeholder="New card: ") }} <br>
            {% for error in form.new_card_name.errors %}[{{ error }}]{% endfor %}

            {{ form.new_card_jar(size=80, placeholder="What category: ") }}<br>
            {% for error in form.new_card_jar.errors %}[{{ error }}]{% endfor %}<br>

            <div>
                {{ form.new_card_steps }}
            </div>

            <div>
                {{ form.submit }}
            </div>
        </div>
    </form>

{% endblock %}

