{% extends "base.html" %}
{% block content %}

<h3 class="lumo-header">lumogarden: new card</h3>

<div class="col-xs-12 new-card">

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="solo-card-view-container">

            {{ form.new_card_name(placeholder="New card: ") }}

            {% for error in form.new_card_name.errors %}[
            {{ error }}]
            {% endfor %}

            {{ form.new_card_jar(placeholder="What category: ") }}
            {% for error in form.new_card_jar.errors %}[{{ error }}]{% endfor %}

        </div>

        <br>
        <br>

        {{ form.new_card_steps }}

        {{ form.submit }}

    </form>

</div>

{% endblock %}

